@model Velvel.Models.Project.Table.TableViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (Model != null)
{

    <div class="row-fluid">

        <div class="box span6">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>Create A Project</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Create", "Changes",
                    new { ProjectId = Model.ProjectId, CustomerId = Model.CustomerId, Id = Model.Id },
                    FormMethod.Post,
                    new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(m => m.Description, Model.Description)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Rooms, new { @class = "control-label" })
                            <div class="controls">
                                <div class="input-prepend">
                                    @Html.DropDownListFor(x => x.RoomId, Model.Rooms,
                                        new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.MeasurementUnits, new { @class = "control-label" })
                            <div class="controls">
                                <div class="input-prepend">
                                    @Html.DropDownListFor(x => x.MeasurementUnitId, Model.MeasurementUnits,
                                        new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Quanitty, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Quanitty, Model.Quanitty.ToString(), new
                                {
                                    @class = "form-control",
                                    @type = "number",
                                    @min = 1
                                })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Price, Model.Price.ToString(), new
                                    {
                                        @class = "form-control",
                                        @type = "number"
                                    })
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Create" />
                            <button class="btn">Cancel</button>
                        </div>
                    </fieldset>
                }
            </div>
        </div><!--/span-->
        <div class="span6">
            <ul class="messagesList">
               
                    <li id="send-line"><textarea rows="3" id="comment-content"></textarea><button>שליחה</button></li>
                @if (Model.Comments.Any())
                {
                    foreach (var group in Model.Comments.GroupBy(x => new { x.Date.Day, x.Date.Month, x.Date.Year }))
                    {
                        <li>
                            @group.Key.Day<span>/</span>@group.Key.Month<span>/</span>@group.Key.Year;
                        </li>

                        foreach (var comment in group)
                        {
                            <li>
                                <span class="from">
                                    <span class="glyphicons star">
                                        <i></i>
                                    </span>
                                    @comment.User.Email
                                    <span class="glyphicons paperclip">
                                        <i></i>
                                    </span>
                                </span>
                                <span class="title">
                                    @comment.Content
                                </span>
                                <span class="date">
                                    @comment.Date.ToString("t")
                                </span>
                            </li>
                        }

                    }
                }

            </ul>

        </div>
    </div>
}